<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ date | date: "yyyy" }} <a href="https://muhammadfandu.vercel.app" class="font-weight-bold ml-1" target="_blank">@muhammadfandu</a>
      </div>
    </div>
    <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a href="https://muhammadfandu.vercel.app" class="nav-link" target="_blank">@muhammadfandu</a>
        </li>
        <li class="nav-item">
          <a href="https://muhammadfandu.vercel.app" class="nav-link" target="_blank">About Us</a>
        </li>
        <li class="nav-item">
          <a href="http://muhammadfandu.wordpress.com" class="nav-link" target="_blank">Blog</a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/muhammadfandu" class="nav-link" target="_blank">Github</a>
        </li>
      </ul>
    </div>
  </div>
</footer>
