.dropdown-toggle::after {
    display: none;
}

.btn-add {
    min-width: 120px;
    height: 38px;
}

.animate-spin {
    animation: spin 2s infinite linear;

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

.overflow-mobile-auto {
    @media (max-width:576px) {
        overflow: auto;
    }
}


::ng-deep .table-striped2 {
    border-collapse: collapse;
    border-radius: 1em;
    width: 100%;
    // overflow: hidden;

    thead {
        height: 50px;
        background-color: #f2f3f4;
        vertical-align: middle;
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        overflow: hidden;

        tr {
            padding-top: 20px !important;
            padding-bottom: 20px !important;
        }
    }

    tbody {
        tr {
            td {
                vertical-align: baseline !important;
            }
        }
    }

    tr:nth-child(even) {
        background-color: #f6f6f6 !important;
    }

    tr:nth-child(odd) {
        background-color: transparent;
    }
}

::ng-deep .search-icon {
    width: 20px;
    height: 20px;
    opacity: 54%;
}