<div class="col">
    <app-table 
        [version]="2"
        [columns]="[]" 
        [columnsCount]="7" 
        [rows]="rows" 
        [limit]="10"
        [meta]="meta"
        [searchColumn]="['product']"
        [isLoading]="isLoading"
        [addButton]="true"
        [buttonLabel]="'Add Items'"
        (addButtonClick)="onAddClick()"
        (limitChange)="onLimitChange($event)"
        (paginationChange)="onPaginationChange($event)">
        <ng-template let-column #tableHeaderTemplate>
            <tr>
                <th class="pl-2 py-2">
                    No.
                </th>
                <th class="py-2">
                    Product
                </th>
                <th class="py-2">
                    Quantity
                </th>
                <th class="py-2">
                    Last Updated
                </th>
                <th class="pr-2">
                    Actions
                </th>
            </tr>
        </ng-template>

        <ng-template let-rowDetail let-index="index" #tableCellTemplate>
            <tr>
                <td [width]="'50px'" class="pl-3">
                    {{index}}  
                </td>
                <td class="py-3" style="min-width: 200px;">
                    {{ rowDetail.product || 'N/A'}}
                </td>
                <td class="py-3">
                    {{ rowDetail.quantity || 'N/A'}}
                </td>
                <td class="py-3">
                    {{ rowDetail.updatedAt || 'N/A'}}
                </td>
                <td class="table-action pt-3 pr-2">
                    <i class="bi bi-eye me-2 fs-5" 
                        [ngbTooltip]="'View detail'" 
                        (click)="onDetailClick(rowDetail)"></i>
                </td>
            </tr>
        </ng-template>
    </app-table>
</div>