<div class="col">
    <app-table 
        [version]="2"
        [columns]="[]" 
        [columnsCount]="7" 
        [rows]="rows" 
        [limit]="10"
        [meta]="meta"
        [searchColumn]="['name']"
        [isLoading]="isLoading"
        [addButton]="true"
        [buttonLabel]="'Add User'"
        (addButtonClick)="onAddClick()"
        (limitChange)="onLimitChange($event)"
        (paginationChange)="onPaginationChange($event)">
        <ng-template let-column #tableHeaderTemplate>
            <tr>
                <th class="pl-2 py-2">
                    No.
                </th>
                <th class="py-2">
                    Name
                </th>
                <th class="py-2">
                    Skills
                </th>
                <th class="py-2">
                    Age
                </th>
                <th class="py-2">
                    Gender
                </th>
                <th class="py-2">
                    Assigned To
                </th>
                <th class="pr-2" style="width: 100px;">
                    Actions
                </th>
            </tr>
        </ng-template>

        <ng-template let-rowDetail let-index="index" #tableCellTemplate>
            <tr>
                <td [width]="'50px'" class="pl-3">
                    {{index}}  
                </td>
                <td class="py-3" style="min-width: 200px;">
                    {{ rowDetail.name || 'N/A'}}
                </td>
                <td class="py-3">
                    {{ rowDetail.skills.join(', ') || 'N/A'}}
                </td>
                <td class="py-3">
                    {{ rowDetail.age || 'N/A'}} years
                </td>
                <td class="py-3">
                    {{ rowDetail.gender || 'N/A'}}
                </td>
                <td class="py-3">
                    {{ rowDetail.assignedTo || 'N/A'}}
                </td>
                <td class="table-action pt-3 pr-2">
                    <i class="bi bi-eye fs-5 mr-2" 
                        [ngbTooltip]="'View detail'" 
                        (click)="onDetailClick(rowDetail)"></i>
                    <i class="bi bi-pencil fs-5 mr-2" 
                        [ngbTooltip]="'Edit'" 
                        tooltipClass="my-custom-class"
                        (click)="onEditClick(rowDetail)"></i>
                    <i class="bi bi-trash fs-5" 
                        [ngbTooltip]="'Delete'" 
                        (click)="onDeleteClick(rowDetail)"></i>
                </td>
            </tr>
        </ng-template>
    </app-table>
</div>